fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
alembic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
openpyxl
reportlab
qrcode[pil]
pillow
email-validator
gunicorn
bcrypt